@import url('https://fonts.googleapis.com/css2?family=Karla&family=Vollkorn&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  /*font-family: 'Karla', sans-serif;*/
  font-family: 'Vollkorn', serif;
  height: 100%;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(255, 255, 255, 0.13);
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 25px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175); 
  border-radius: 25px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(124, 124, 124); 
}