.shelf {
    font-family: 'Karla', sans-serif;
}

hr {
    width: 60%;
}

.search-btn {
    position: fixed;
    cursor: pointer;
    border-radius: 50%;
    bottom: 50px;
    right: 50px;
    padding: 20px;
    outline: none;
    background-color: salmon;
    border: 2px solid salmon;
}